<!DOCTYPE html>
<html>
<head>
    <title>Photographer - View all </title>
</head>
<body>
<h1>Photographer</h1>
<a href="/Photographer/add">Add New Photographer</a> <br />
<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Specialty</th>

    </tr>
    <% for(var i=0; Photographers.length > i; i++ ) { %>
    <tr>
        <td><%= Photographers[i].ID%></td>
        <td><%= Photographers[i].FName%></td>
        <td><%= Photographers[i].LName%></td>
        <td><%= Photographers[i].Email%></td>
        <td><%= Photographers[i].Specialty%></td>
        <td>
            <a href ='/Photographers/edit?Photographer_Id=<%=Photographers[i].ID%> '>
                Edit
            </a>
        </td>
    </tr>
    <%}%>
</table>
</body>
</html>