<!DOCTYPE html>
<html>
<head>
    <title>Photographer - Add</title>
</head>
<body>
<h1>Add New Photographer</h1>
<form action ="/Photographer/insert" method="get">

    First Name: <input name="FName" type="text" /><br />
    Last Name: <input name="LName" type="text" /><br />
    Email: <input name="Email" type="text" /><br />
    Specialty: <input name="Specialty" type="text" /><br />

    <br />
    <br/>
    Cameras
    <br />
    <%for(var i=0; cameras.length > i; i++){ %>
    <input type="checkbox" name="Camera_Body_Id" value="<%=
        cameras[i].Camera_Body_Id %>"> <%=cameras[i].Camera_Manufacturer + ', '
    + cameras[i].Name%>
    <br/>
    <%}%>
    <br />
    <br />
    Lenses
    <br />
    <%for(var i=0; lens.length > i; i++){ %>
    <input type="checkbox" name="Lens_Id" value="<%=
        lens[i].Lens_Id %>"> <%=lens[i].Lens_Manufacturer + ', '
    + lens[i].Focal_length + ', ' + lens[i].Max_Aperture_Value + ', '
    + lens[i].Lens_Mount%>
    <br/>
    <%}%>
    <br />
    <br />
    Filters
    <br />
    <%for(var i=0; filters.length > i; i++){ %>
    <input type="checkbox" name="Filter_Id" value="<%=
        filters[i].Filter_Id %>"> <%=filters[i].Filter_Manufacturer + ', '
    + filters[i].Filter_Size + ', ' + filters[i].Filter_Type%>
    <br/>
    <%}%>
    <br />
    <input type="submit" />
</form>
</body>
</html>