<!DOCTYPE html>
<html>
<head>
    <title>Filter - View all </title>
</head>
<body>
<h1>Filters</h1>
<a href="/Filters/add">Add New Filter</a> <br />
<table border="1">
    <tr>
        <th>ID</th>
        <th>Manufacturer</th>
        <th>Size (mm)</th>
        <th>Type</th>
        <th>Actions</th>

    </tr>
    <% for(var i=0; Filters_result.length > i; i++ ) { %>
    <tr>
        <td><%= Filters[i].Filter_Id%></td>
        <td><%= Filters[i].Filter_Manufacturer%></td>
        <td><%= Filters[i].Filter_Size%></td>
        <td><%= Filters[i].Filter_Type%></td>
        <td><a href ='/Filters/edit?Filter_Id=<%=Filters[i].Filter_Id%> '>
                Edit
            </a>
        </td>
    </tr>
    <%}%>
</table>
</body>
</html>