<!DOCTYPE html>
<html>
<head>
    <title>Filter - Edit</title>
</head>
<body>
<h1>Edit Filter</h1>
<form action ="/Filters/update" method="get">

    <input
            type="hidden"
            id="Filter_Id"
            name="Filter_Id"
            value="<%= Filters.Filter_id %>"
    /><br />
    Filter Manufacturer: <input
            id="Filter_Manufacturer"
            name="Filter_Manufacturer"
            type="text"
            value="<%= Filters.Filter_Manufacturer %>"/><br />

    Filter Size: <input
            id="Filter_Size"
            name="Filter_Size"
            type="text"
            value="<%= Filters.Filter_Size%>"/><br />

    Filter Type: <input
            id="Filter_Type"
            name="Filter_Type"
            type="text"
            value="<%= Filters.Fiilter_Type%>"/><br />

    <br/>
    Filters
    <br />
    <%for(var i=0; filters.length > i; i++){ %>
    <input type="checkbox" name="Filter_Id" value="<%=
        filters[i].Filter_Id %>"> <%=filters[i].Filter_Manufacturer + ', '
    + filters[i].Filter_Size + ', ' + filters[i].Filter_Type%>
    <br/>
    <%}%>
    <br />
    <input type="submit" />
</form>
</body>
</html>